<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Test">
		<classes>

			<class name="LinkCxOWeb.TestCase.WebTestCases" />


		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->


<!--<class name="com.Ishine.testcase.IshinePageDisplayTest"/>-->
<!--	<listeners>-->
<!--        <listener class-name="LinkCxOWeb.utils.CustomTestListener"/>-->
<!--    </listeners>-->